@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">Bug Tracker is an issue tracking and project management software.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Issue Tracking</h2>
        <p>Bug Tracker is an issue tracking and project management platform.</p>
    </div>
    <div class="col-md-4">
        <h2>Project Management</h2>
        <p>Bug Tracker is an issue tracking and project management platform.</p>
    </div>
    <div class="col-md-4">
        <h2>Software Dev</h2>
        <p>Bug Tracker is an issue tracking and project management platform.</p>
    </div>
</div>